In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

### Tạo danh sách data gồm 7 giá trị ngẫu nhiên
Dùng np.random.standard_normal() để sinh từng giá trị.

In [2]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

[1, 2, 3]

In [5]:
# Lệnh a.append(4) thêm giá trị 4 vào cuối danh sách a.
a.append(4)
b

[1, 2, 3, 4]

In [11]:
# Hàm append_element(some_list, element) dùng để thêm một phần tử (element) vào cuối danh sách (some_list).
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [13]:
# Biến a ban đầu là kiểu số nguyên (int). Sau khi gán lại giá trị "foo", a trở thành chuỗi (str). Python cho phép thay đổi kiểu dữ liệu của biến linh hoạt trong quá trình thực thi.
a = 5
type(a)
a = "foo"
type(a)

str

In [14]:
# Khai báo biến a kiểu float với giá trị 4.5, b kiểu int với giá trị 2
a = 4.5
b = 2

# In ra kiểu dữ liệu của a và b, sử dụng f-string để chèn kết quả hàm type() vào chuỗi
print(f"a is {type(a)}, b is {type(b)}")

# Thực hiện phép chia a cho b, kết quả trả về là kiểu float
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [16]:
a = 5
# Kiểm tra biến a có phải kiểu int hay không, trả về True hoặc False
isinstance(a, int)

True

In [17]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [20]:
a = "foo"
getattr(a, "split")  # Lấy phương thức 'split' của chuỗi a dưới dạng đối tượng phương thức

In [21]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [22]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [23]:
5 - 7
12 + 21.5
5 <= 2

False

In [24]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [25]:
a == c

True

In [26]:
a = None
a is None

True

In [27]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [28]:
# a_tuple là tuple chứa các phần tử, trong đó có một tuple con
a_tuple = (3, 5, (4, 5))

# Cố gắng thay đổi phần tử thứ 2 của tuple, sẽ gây lỗi vì tuple là immutable
a_tuple[1] = "four"  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [29]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [30]:
fval = 7.243
fval2 = 6.78e-5

In [31]:
3 / 2

1.5

In [32]:
3 // 2

1

In [33]:
c = """
This is a longer string that
spans multiple lines
"""

In [34]:
c.count("\n")

3

In [38]:
a = "this is a string"
a[10] = "f"  # Lỗi: Chuỗi trong Python là immutable (không thể thay đổi phần tử từng vị trí)

TypeError: 'str' object does not support item assignment

In [39]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [40]:
a = 5.6
s = str(a)
print(s)

5.6

In [41]:
s = "python"
list(s)
s[:3]

'pyt'

In [42]:
s = "12\\34"
print(s)

12\34

In [43]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [44]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [45]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [46]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [48]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [49]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [50]:
val = "español"
val

'español'

In [51]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [52]:
val_utf8.decode("utf-8")

'español'

In [53]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [54]:
True and True
False or True

True

In [55]:
a = True
b = False
not a
not b

True

In [56]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [63]:
a = None
a is None
b = 5
b is not None

True

In [58]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [59]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [60]:
dt.strftime("%Y-%m-%d %H:%M")
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [61]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [62]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [64]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [65]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [66]:
4 > 3 > 2 > 1

True

In [67]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [68]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [70]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [71]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668