In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('vietnam_housing_dataset.csv')
df.head()

,Address,Area,Frontage,Access Road,House direction,Balcony direction,Floors,Bedrooms,Bathrooms,Legal status,Furniture state,Price
0,"D·ª± √°n The Empire - Vinhomes Ocean Park 2, X√£ L...",84.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,Have certificate,NaN,8.60
1,"D·ª± √°n The Crown - Vinhomes Ocean Park 3, X√£ Ng...",60.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,7.50
2,"D·ª± √°n The Crown - Vinhomes Ocean Park 3, X√£ Ng...",90.0,6.0,13.0,ƒê√¥ng - B·∫Øc,ƒê√¥ng - B·∫Øc,5.0,NaN,NaN,Sale contract,NaN,8.90
3,"ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Kh·ªëi, Ph∆∞·ªùng 11, G√≤ V·∫•p, H·ªì C...",54.0,NaN,3.5,T√¢y - Nam,T√¢y - Nam,2.0,2.0,3.0,Have certificate,Full,5.35
4,"ƒê∆∞·ªùng Quang Trung, Ph∆∞·ªùng 8, G√≤ V·∫•p, H·ªì Ch√≠ Minh",92.0,NaN,NaN,ƒê√¥ng - Nam,ƒê√¥ng - Nam,2.0,4.0,4.0,Have certificate,Full,6.90

In [2]:
print(len(df["Address"].unique()))
print(len(df["Address"]))

10265
30229

In [3]:
df.describe()

,Area,Frontage,Access Road,Floors,Bedrooms,Bathrooms,Price
count,30229.000000,18665.000000,16932.000000,26626.000000,25067.000000,23155.000000,30229.000000
mean,68.498741,5.361692,7.853800,3.410426,3.511030,3.346837,5.872078
std,48.069835,4.346174,7.451313,1.328897,1.309116,1.400181,2.211877
min,3.100000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,40.000000,4.000000,4.000000,2.000000,3.000000,2.000000,4.200000
50%,56.000000,4.500000,6.000000,3.000000,3.000000,3.000000,5.900000
75%,80.000000,5.000000,10.000000,4.000000,4.000000,4.000000,7.500000
max,595.000000,77.000000,85.000000,10.000000,9.000000,9.000000,11.500000

# X·ª≠ l√Ω ngo·∫°i lai

In [4]:
df = df[
    (df['Area'].between(20, 200))
    # (df['Frontage'].between(2, 30)) &
    # (df['Access Road'].between(2, 12)) &
    # (df['Floors'].between(1, 7)) &
    # (df['Bedrooms'].between(1, 8)) &
    # (df['Bathrooms'].between(1, 8))
]
print("\n‚úÖ S·ªë d√≤ng sau khi lo·∫°i b·ªè ngo·∫°i l·ªá:", len(df))

‚úÖ S·ªë d√≤ng sau khi lo·∫°i b·ªè ngo·∫°i l·ªá: 29406

# Xem d·ªØ li·ªáu b·ªã thi·∫øu

In [5]:
df.isnull().sum()

Address                  0
Area                     0
Frontage             11236
Access Road          12927
House direction      20730
Balcony direction    24335
Floors                3340
Bedrooms              4955
Bathrooms             6834
Legal status          4351
Furniture state      13665
Price                    0
dtype: int64

# X·ª≠ l√Ω d·ªØ li·ªáu b·ªã thi·∫øu

In [6]:
# X√≥a 2 c·ªôt b·ªã thi·∫øu nhi·ªÅu nh·∫•t v√¨ d·ªØ li·ªáu thi·∫øu > 70% 
df = df.drop(columns=["Balcony direction", "House direction"])

In [7]:
area_bins = [0,40,70,150,np.inf]
area_labels = ['Under 40m', '40-70m', '70-150m', 'Tren 150m']
df_area = pd.cut(df['Area'], bins=area_bins, labels=area_labels)

In [8]:
# H√†m ƒëi·ªÅn median v√† ƒëi·ªÅn mode theo g·∫ßn nh·∫•t
fill_with_median = lambda x: x.fillna(x.median())
fill_with_mode = lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x

# ƒêi·ªÅn Floors theo Address + nh√≥m Area ph·ª•
df['Floors'] = df.groupby(['Address', df_area])['Floors'].transform(fill_with_median)
df['Floors'] = df.groupby(['Address'])['Floors'].transform(fill_with_median)

# ƒêi·ªÅn Bedrooms theo Address + nh√≥m Area ph·ª•
df['Bedrooms'] = df.groupby(['Address', df_area])['Bedrooms'].transform(fill_with_median)
df['Bedrooms'] = df.groupby(['Address'])['Bedrooms'].transform(fill_with_median)

# ƒêi·ªÅn Bathrooms theo Address + nh√≥m Area ph·ª•
df['Bathrooms'] = df.groupby(['Address', df_area])['Bathrooms'].transform(fill_with_median)
df['Bathrooms'] = df.groupby(['Address'])['Bathrooms'].transform(fill_with_median)

# ƒêi·ªÅn Frontage theo Address + nh√≥m Area ph·ª•
df['Frontage'] = df.groupby(['Address', df_area])['Frontage'].transform(fill_with_median)
df['Frontage'] = df.groupby(['Address'])['Frontage'].transform(fill_with_median)

df['Access Road'] = df.groupby('Address')['Access Road'].transform(fill_with_mode)

C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\3507635475.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Floors'] = df.groupby(['Address', df_area])['Floors'].transform(fill_with_median)
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\3507635475.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Bedrooms'] = df.groupby(['Address', df_area])['Bedrooms'].transform(fill_with_median)
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\3507635475.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Bathrooms'] = df.groupby(['Address', df_area])['Bathrooms'].transform(fill_with_median)
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\3507635475.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Frontage'] = df.groupby(['Address', df_area])['Frontage'].transform(fill_with_median)

In [9]:
df.isnull().sum()

Address                0
Area                   0
Frontage            2808
Access Road         3520
Floors              1099
Bedrooms            1356
Bathrooms           1750
Legal status        4351
Furniture state    13665
Price                  0
dtype: int64

In [10]:
# thay th·∫ø c√°c gi√° tr·ªã NaN c√≤n l·∫°i trong c·ªôt 'Floors' b·∫±ng 1
df['Floors'].fillna(1, inplace=True)

# thay th·∫ø c√°c gi√° tr·ªã NaN c√≤n l·∫°i trong c·ªôt 'Bedrooms' v√† 'Bathrooms' b·∫±ng 1
df['Bedrooms'].fillna(1,inplace=True)
df['Bathrooms'].fillna(1, inplace=True)

# ƒêi·ªÅn median cho c√°c gi√° tr·ªã NaN c√≤n l·∫°i trong c·ªôt 'Frontage' v√† 'Access Road'
df['Frontage'] = df['Frontage'].fillna(df['Frontage'].median())
df['Access Road'] = df['Access Road'].fillna(df['Access Road'].median())

C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\862970219.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Floors'].fillna(1, inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\862970219.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedrooms'].fillna(1,inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\862970219.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bathrooms'].fillna(1, inplace=True)

In [11]:
# ƒêi·ªÅn gi√° tr·ªã thi·∫øu trong c·ªôt 'Legal status' b·∫±ng 'Sale contract' v√† 'Furniture state' b·∫±ng 'N/A'
df['Legal status'].fillna('Sale contract', inplace=True) # sale contract kh√¥ng gi·∫•y s·ªï h·ªìng ch·ªâ h·ªôp ƒë·ªìng mua b√°n thui
df['Furniture state'].fillna('No furnishings', inplace=True) # N/A l√† kh√¥ng c√≥ n·ªôi th·∫•t

C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\100330148.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Legal status'].fillna('Sale contract', inplace=True) # sale contract kh√¥ng gi·∫•y s·ªï h·ªìng ch·ªâ h·ªôp ƒë·ªìng mua b√°n thui
C:\Users\Dell\AppData\Local\Temp\ipykernel_3132\100330148.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Furniture state'].fillna('No furnishings', inplace=True) # N/A l√† kh√¥ng c√≥ n·ªôi th·∫•t

In [12]:
# ƒê·ªïi ki·ªÉu d·ªØ li·ªáu c·ªßa c·ªôt 'Bedrooms' v√† 'Bathrooms' t·ª´ float sang int b·∫±ng c√°ch l√†m tr√≤n xu·ªëng
df['Bedrooms'] = df['Bedrooms'].astype(float).apply(np.floor).astype(int)
df['Bathrooms'] = df['Bathrooms'].astype(float).apply(np.floor).astype(int)

# X·ª≠ l√Ω d·ªØ li·ªáu b·ªã tr√πng

In [13]:
print("\nüîÅ S·ªë d√≤ng tr√πng l·∫∑p:", df.duplicated().sum())

üîÅ S·ªë d√≤ng tr√πng l·∫∑p: 305

In [14]:
df = df.drop_duplicates()

print("‚úÖ S·ªë d√≤ng sau khi x√≥a tr√πng:", len(df))

‚úÖ S·ªë d√≤ng sau khi x√≥a tr√πng: 29101

# X·ª≠ l√Ω ngo·∫°i l·∫°i

In [15]:
df = df[
    (df['Frontage'].between(2, 30)) &
    (df['Access Road'].between(2, 12)) &
    (df['Floors'].between(1, 7)) &
    (df['Bedrooms'].between(1, 8)) &
    (df['Bathrooms'].between(1, 8))
]
print("\n‚úÖ S·ªë d√≤ng sau khi lo·∫°i b·ªè ngo·∫°i l·ªá:", len(df))

‚úÖ S·ªë d√≤ng sau khi lo·∫°i b·ªè ngo·∫°i l·ªá: 25576

# Th√™m 2 c·ªôt City v√† District t·ª´ c·ªôt Address

In [16]:
# T√°ch t·ªânh/th√†nh ph·ªë (ph·∫ßn cu·ªëi)
df["City"] = df["Address"].apply(lambda x: str(x).split(",")[-1].strip() if pd.notnull(x) else None)

# T√°ch qu·∫≠n/huy·ªán (ph·∫ßn k·∫ø cu·ªëi)
df["District"] = df["Address"].apply(lambda x: str(x).split(",")[-2].strip() if pd.notnull(x) and len(str(x).split(",")) >= 2 else None)

# Ch·ªânh l·∫°i c√°c Th√†nh ph·ªë/T·ªânh cho th·ªëng nh·∫•t

In [17]:

import re

def clean_city(city):
    if pd.isna(city) or not str(city).strip():
        return np.nan

    city = str(city).strip().replace(".", "")
    
    # ‚ùå Lo·∫°i b·ªè c√°c chu·ªói ch·ª©a t·ª´ "gi√°" nh∆∞ "gi√° 6ty", "gi√° 2ty380", "gi√° 3 t·ª∑"
    if re.search(r"gi[a√°]\s*\d", city.lower()):  
        return np.nan
       # Lo·∫°i b·ªè d√≤ng kh√¥ng h·ª£p l·ªá
    if not city or city.lower() == "ph√≤ng c√¥ng ch·ª©ng nguy·ªÖn th·ªã th√†nh":
        return np.nan
    invalid_cities = [
        "ph√≤ng c√¥ng ch·ª©ng nguy·ªÖn th·ªã th√†nh",
        "Qu·∫≠n Nam T·ª´ Li√™m",   # <- d√≤ng n√†y s·∫Ω b·ªã lo·∫°i b·ªè
        "TP Cam Ranh",
        "ƒê∆∞·ªùng s·ªë 11"
    ]
    if city in invalid_cities:
        return np.nan
    # if not city or city.lower() == "Qu·∫≠n Nam T·ª´ Li√™m":
    #     return np.nan
    # if not city or city.lower() == "TP Cam Ranh":
    #     return np.nan
    
    mapping = {
        "TP H·ªì Ch√≠ Minh": "H·ªì Ch√≠ Minh",
        "TP HCM": "H·ªì Ch√≠ Minh",
        "TP. HCM": "H·ªì Ch√≠ Minh",
        "TPHCM": "H·ªì Ch√≠ Minh",
        "HCM": "H·ªì Ch√≠ Minh",
        "HN": "H√† N·ªôi",
        "Qu·∫≠n 8": "H·ªì Ch√≠ Minh",
        "Qu·∫≠n B√¨nh Th·∫°nh": "H·ªì Ch√≠ Minh",
        "B√°n nh√† ch√≠nh ch·ªß Ph√≥ ƒê·ª©c Ch√≠nh khu B√† Chi·ªÉu - trung t√¢m B√¨nh Th·∫°nh gi√° c·ª±c t·ªët":"H·ªì Ch√≠ Minh",
        "H·ªì Ch√≠ Minh gi√° 2t·ª∑380":"H·ªì Ch√≠ Minh",
        "TpHCM": "H·ªì Ch√≠ Minh",
        "H·ªì Ch√≠ M√≠nh": "H·ªì Ch√≠ Minh",
        "B√¨nh D∆∞∆°ng (g·∫ßn cafe X√≥m V·∫Øng 2)": "B√¨nh D∆∞∆°ng",
    }

    if city in mapping:
        return mapping[city]
    return city

# üîπ L√†m s·∫°ch c·ªôt City
df["City"] = df["City"].apply(clean_city)

# üîπ X√≥a c√°c d√≤ng kh√¥ng h·ª£p l·ªá (City b·ªã NaN)
df = df.dropna(subset=["City"]).reset_index(drop=True)

# üîπ Ki·ªÉm tra k·∫øt qu·∫£
print("S·ªë ƒë·ªãa ph∆∞∆°ng duy nh·∫•t sau khi l√†m s·∫°ch:", len(df["City"].unique()))
print(sorted(df["City"].unique()))

S·ªë ƒë·ªãa ph∆∞∆°ng duy nh·∫•t sau khi l√†m s·∫°ch: 55
['An Giang', 'B√† R·ªãa V≈©ng T√†u', 'B√¨nh D∆∞∆°ng', 'B√¨nh Ph∆∞·ªõc', 'B√¨nh Thu·∫≠n', 'B√¨nh ƒê·ªãnh', 'B·∫Øc Giang', 'B·∫Øc Ninh', 'B·∫øn Tre', 'C√† Mau', 'C·∫ßn Th∆°', 'Gia Lai', 'HaÃÄ N√¥Ã£i', 'H√† Giang', 'H√† Nam', 'H√† N·ªôi', 'H√† Tƒ©nh', 'H√≤a B√¨nh', 'H∆∞ng Y√™n', 'H·∫£i D∆∞∆°ng', 'H·∫£i Ph√≤ng', 'H·∫≠u Giang', 'H·ªì Ch√≠ Minh', 'Kh√°nh H√≤a', 'Ki√™n Giang', 'Long An', 'L√†o Cai', 'L√¢m ƒê·ªìng', 'L·∫°ng S∆°n', 'Nam ƒê·ªãnh', 'Ngh·ªá An', 'Ninh B√¨nh', 'Ninh Thu·∫≠n', 'Ph√∫ Th·ªç', 'Ph√∫ Y√™n', 'Qu·∫£ng Nam', 'Qu·∫£ng Ng√£i', 'Qu·∫£ng Ninh', 'Qu·∫£ng Tr·ªã', 'S√≥c TrƒÉng', 'Thanh H√≥a', 'Th√°i B√¨nh', 'Th√°i Nguy√™n', 'Th·ª´a Thi√™n Hu·∫ø', 'Ti·ªÅn Giang', 'Tr√† Vinh', 'T√¢y Ninh', 'Vƒ©nh Long', 'Vƒ©nh Ph√∫c', 'Y√™n B√°i', 'ƒêi·ªán Bi√™n', 'ƒê√† N·∫µng', 'ƒê·∫Øk L·∫Øk', 'ƒê·ªìng Nai', 'ƒê·ªìng Th√°p']

# Ch·ªânh l·∫°i c√°c Huy·ªán/Qu·∫≠n cho th·ªëng nh·∫•t

In [18]:
import re

def clean_district(district):
    if not isinstance(district, str) or district.strip() == "":
        return None

    district = district.strip().replace(".", "")
    
    # Gi·ªØ l·∫°i ch·ªØ "Qu·∫≠n" n·∫øu ƒëi k√®m s·ªë (VD: Qu·∫≠n 1, Qu·∫≠n 12)
    if re.match(r"(?i)^qu·∫≠n\s*\d+", district):
        return district.title()

    # Lo·∫°i b·ªè c√°c prefix "Huy·ªán", "Th√†nh ph·ªë", "Th·ªã x√£"
    district = re.sub(r"(?i)^(huy·ªán|th√†nh ph·ªë|th·ªã x√£)\s+", "", district)

    # N·∫øu l√† "Qu·∫≠n" ƒëi v·ªõi ch·ªØ th√¨ b·ªè ch·ªØ "Qu·∫≠n"
    district = re.sub(r"(?i)^qu·∫≠n\s+", "", district)
    

    # Chu·∫©n h√≥a ch·ªØ c√°i ƒë·∫ßu
    district = district.title()

    return district

# --- V√≠ d·ª• ---
# data = [
#     "Qu·∫≠n 1", "Qu·∫≠n B√¨nh Th·∫°nh", "Huy·ªán Long Th√†nh",
#     "Th√†nh ph·ªë Dƒ© An", "Th·ªã x√£ Sa Pa", "Qu·∫≠n 12",
#     "Qu·∫≠n 9", "Qu·∫≠n T√¢n B√¨nh", "Huy·ªán Nh√† B√®"
# ]


# df = pd.DataFrame({"District": data})
df["District"] = df["District"].apply(clean_district)

# Gi·ªØ l·∫°i c√°c h√†ng m√† District **kh√¥ng ph·∫£i l√† ph∆∞·ªùng/x√£/th·ªã tr·∫•n**
# Lo·∫°i b·ªè c√°c h√†ng m√† District l√† None tr∆∞·ªõc
df = df[df['District'].notna()].copy()
df = df[~df['District'].str.lower().str.startswith(('ph∆∞·ªùng', 'x√£', 'th·ªã tr·∫•n'))].copy()

print(df)

                                                 Address  Area  Frontage  \
0      ƒê∆∞·ªùng Nguy·ªÖn VƒÉn Kh·ªëi, Ph∆∞·ªùng 11, G√≤ V·∫•p, H·ªì C...  54.0      4.00
1       ƒê∆∞·ªùng Quang Trung, Ph∆∞·ªùng 8, G√≤ V·∫•p, H·ªì Ch√≠ Minh  92.0      4.00
2      ƒê∆∞·ªùng Ph·∫°m VƒÉn Chi√™u, Ph∆∞·ªùng 14, G√≤ V·∫•p, H·ªì Ch...  30.0      3.85
3      ƒê∆∞·ªùng Quang Trung, Ph∆∞·ªùng 12, G√≤ V·∫•p, H·ªì Ch√≠ Minh  46.0      4.60
4      ƒê∆∞·ªùng Ng√¥ T·∫•t T·ªë, Ph∆∞·ªùng 22, B√¨nh Th·∫°nh, H·ªì Ch...  60.0      3.50
...                                                  ...   ...       ...
25564  ƒê∆∞·ªùng Nguy·ªÖn Th√°i S∆°n, Ph∆∞·ªùng 5, G√≤ V·∫•p, H·ªì Ch...  31.0      3.00
25565   ƒê∆∞·ªùng C√¥ Giang, Ph∆∞·ªùng 2, Ph√∫ Nhu·∫≠n, H·ªì Ch√≠ Minh  24.0      3.00
25566  ƒê∆∞·ªùng Ng√¥ Gia T·ª±, Ph∆∞·ªùng ƒê·ª©c Giang, Long Bi√™n,...  30.0      3.80
25567  ƒê∆∞·ªùng Quang Trung, Ph∆∞·ªùng 11, G√≤ V·∫•p, H·ªì Ch√≠ Minh  96.0      4.60
25568  ƒê∆∞·ªùng ƒê·∫°i l·ªô ThƒÉng Long, X√£ An Kh√°nh, Ho√†i ƒê·ª©c...  35.0      4.65

       Access Road  Floors  Bedrooms  Bathrooms      Legal status  \
0              3.5     2.0         2          3  Have certificate
1              5.0     2.0         4          4  Have certificate
2              5.0     2.0         2          2  Have certificate
3              6.0     4.0         4          5  Have certificate
4              5.0     2.0         6          5  Have certificate
...            ...     ...       ...        ...               ...
25564          3.0     3.0         4          3     Sale contract
25565          3.0     3.0         2          2  Have certificate
25566          6.0     5.0         3          3  Have certificate
25567          8.0     4.0         3          2     Sale contract
25568          2.0     5.0         3          4  Have certificate

      Furniture state  Price         City    District
0                Full   5.35  H·ªì Ch√≠ Minh      G√≤ V·∫•p
1                Full   6.90  H·ªì Ch√≠ Minh      G√≤ V·∫•p
2                Full   3.79  H·ªì Ch√≠ Minh      G√≤ V·∫•p
3                Full   7.99  H·ªì Ch√≠ Minh      G√≤ V·∫•p
4                Full   5.60  H·ªì Ch√≠ Minh  B√¨nh Th·∫°nh
...               ...    ...          ...         ...
25564           Basic   3.98  H·ªì Ch√≠ Minh      G√≤ V·∫•p
25565           Basic   3.50  H·ªì Ch√≠ Minh   Ph√∫ Nhu·∫≠n
25566  No furnishings   4.70       H√† N·ªôi   Long Bi√™n
25567  No furnishings   9.50  H·ªì Ch√≠ Minh      G√≤ V·∫•p
25568           Basic   3.15       H√† N·ªôi    Ho√†i ƒê·ª©c

[25564 rows x 12 columns]

In [19]:
df.to_csv('VN_House_price_Clean2.csv', index=False)